/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    background-image: url(./img/fluro-black_LOGO.png);
    background-size: 3%;
    background-color: #faf4ea!important;
}

.section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.tradingview-widget-copyright{
    width: 80%;
    background: white;
    text-transform: uppercase;
    background-color: rgb(250, 244, 234)!important;
}

.tradingview-widget-container{
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#chart{
    width: 100%;
    height: 100%;
}

.section-foot-text{
    font-weight: bold;
    font-style: italic;
    font-size: 0.8;
    line-height: 0%;
}

.lulo{
    font-size: x-large;
}

/* stickers */
.box{
    position: relative;
}
  
.box .lulino{
    width: 7%;
    position: absolute;
    top: 7px;
    right: 500px;
}

.box .lulino-candle{
    width: 13%;
    position: absolute;
    right: -18px;
    bottom: 100px;
}

.box .lulino-strong{
    width: 11%;
    position: absolute;
    left: -10px;
    bottom: 700px;
}