/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    background-image: url(fluro-black_LOGO.png);
    background-size: 10%;
    background-color: blueviolet!important;
}

.section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.tradingview-widget-copyright{
    width: 80%;
    background: white;
    text-transform: uppercase;
    background-color: rgb(19, 23, 34);
}

.tradingview-widget-container{
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#chart{
    width: 100%;
    height: 100%;
}

.section-foot-text{
    font-weight: bold;
    font-style: italic;
    font-size: 0.8;
    line-height: 0%;
}